extends layout


block stylesheets 
	link(rel="stylesheet" href="/css/home.css")

block content
	.container.py-4.center
		h1 Personal Info
		h4 Basic info, like your name and photo

	main
		#profile-display-read-only 
			.row.mb-4 
				.col-6 
					h3 Profile
					p.info Some info may be visible to other people
				.col-6.right 
					a(href="/profile").btn.px-3.py-1 Edit
			.info 
				label.title Photo
				.info-display
					img(src=user.picture alt="")
			.info 
				label.title Name
				.info-display
					p= user.name
			.info 
				label.title Bio
				.info-display
					p.elipsed= user.bio || "No bio"
			.info 
				label.title Email
				.info-display
					p= user.email
			.info 
				label.title Phone
				.info-display
					p= user.phone
